body {
    margin: 0;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ddd;
}